<!doctype html>
<html lang="fr">
    <head>
        <!-- Meta -->
        <meta charset="utf-8"/>
        <meta name="description" content="Retrouvez les Krapos sur Soundcloud, où la fanfare a publié trois albums gratuits, et sur Youtube où plusieurs vidéos de concerts en salle ou spectacles de rue sont disponibles."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Title -->
        <title>Médias - Les Krapos - Fanfare amphibienne</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="krapos.css" />
        <!-- Icons -->
        <link rel="icon" href="assets/images/common/favicon/favicon-16x16.png" sizes="16x16" type="image/png"/>
        <link rel="icon" href="assets/images/common/favicon/favicon-32x32.png" sizes="32x32" type="image/png" />
        <link rel="icon" href="assets/images/common/favicon/android-chrome-192x192.png" sizes="192x192" type="image/png" />
        <link rel="icon" href="assets/images/common/favicon/android-chrome-512x512.png" sizes="512x512" type="image/png" />
        <link rel="icon" href="assets/images/common/favicon/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="assets/images/common/favicon/apple-touch-icon.png" type="image/png" />
        <!-- Scripts -->
        <script src="nav-menu.js" defer></script>
        <script src="carousel.js" defer></script>
    </head>
    <body class="body">
        <!-- Header -->
        <header class="header">
            <a href="index.html" class="link"><img id="header-logo-img" class="header__logo" src="assets/images/common/LogoKrapo.svg" width="100px" heigh="100px" alt="Logo Krapo"/></a>
            <nav id="main-nav" class="menu header__menu" aria-label="Site menu">
                <button id="btn-main-nav" class="btn btn--hamburger header__menu-btn" type="button" aria-label="Ouvrir le menu" aria-expanded="false" aria-controls="main-nav"></button>
                <ul id="main-nav-list" class="list menu__list menu__list--hidden">
                    <li class="list__item menu__item"><a href="index.html" class="link menu__link">Accueil</a></li>
                    <li class="list__item menu__item"><a href="media.html" class="link menu__link">Médias</a></li>
                    <li class="list__item menu__item"><a href="setlist.html" class="link menu__link">Répertoire</a></li>
                    <li class="list__item menu__item"><a href="friends.html" class="link menu__link">Copains</a></li>
                    <li class="list__item menu__item"><a href="contact.html" class="link menu__link">Contact</a></li>
                </ul>
            </nav>
            <div class="social header__social" aria-label="Social networks menu">
                <ul aria-label="Social networks menu" class="list social__list">
                    <li class="list__item social__item"><a href="https://www.soundcloud.com/leskrapos" target="_blank" class="btn btn--social btn--soundcloud" aria-label="&Eacutecouter les Krapos sur Soundcloud"></a></li>
                    <li class="list__item social__item"><a href="https://www.facebook.com/LesKrapos" target="_blank" class="btn btn--social btn--facebook" aria-label="Suivre les Krapos sur Facebook"></a></li>
                    <li class="list__item social__item"><a href="https://www.youtube.com/@les-krapos" target="_blank" class="btn btn--social btn--youtube" aria-label="Regarder les Krapos sur Youtube"></a></li>
                    <li class="list__item social__item"><a href="https://www.instagram.com/leskrapos" target="_blank" class="btn btn--social btn--instagram" aria-label="Suivre les Krapos sur Instagram"></a></li>
                </ul>
            </div>
        </header>
        <!-- Media Page -->
        <div id="media-page" class="page page--media">
            <div class="wrapper wrapper--section-media-albums">
                <section id="media-albums" class="section page_section section--media-albums">
                    <div class="wrapper wrapper--media-albums-img">
                        <div class="blob blob--audio">
                            <img class="img img--rounded blob__img" src="assets/images/medias/photo_media_1.jpg" alt="Abel, trompettiste aux lunettes Fantaisie. Crédit Photo : Objectif Images Montpellier."/>
                        </div>
                    </div>
                    <div class="wrapper wrapper--media-albums">
                        <h2 class="h2">Les albums</h2>
                        <p class="text text--long">Comme on est généreux, il y a 3 albums en écoute gratuite sur SoundCloud.</p>
                        <section id="media-audio-carousel" class="carousel">
                            <ul class="list carousel__list">
                            {%- for audio in media.audio %}
                                <li id="media-album-{{ loop.index }}" class="list__item carousel__slide">
                                    <div class="card card--type-1">
                                        <div class="card__media card__media--type-1">
                                            <a href="{{ audio.url }}" target="_blank"><img class="img card__img" width="{{ audio.artwork.width }}" height="{{ audio.artwork.height }}" src="assets/images/medias/audio/{{ audio.artwork.file }}"/></a>
                                        </div>
                                        <div class="card__header card__header--type-1">
                                            <p class="card__title">{{ audio.title }}</p>
                                        </div>
                                        <div class="card__body card__body--type-1">
                                            <p class="card__copy">{{ audio.year }}</p>
                                        </div>
                                        <div class="card__footer card__footer--type-1">
                                            <a href="{{ audio.url }}" target="_blank" class="link btn btn--primary btn--listen btn--with-text">&Eacutecouter</a>
                                        </div>
                                    </div>
                                </li>{% endfor %}
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
            <div class="wrapper wrapper--section-media-videos">
                <section id="media-videos" class="section page_section section--media-videos">
                    <div class="wrapper wrapper--media-videos-img">
                        <div class="blob blob--video">
                            <img class="img img--rounded blob__img" src="assets/images/medias/photo_media_2.jpg" alt="Nadia, notre tubiste sous la pluie. Crédit Photo : Les Krapos."/>
                        </div>
                    </div>
                    <div class="wrapper wrapper--media-videos">
                        <h2 class="h2">Les vidéos</h2>
                        <p class="text text--long">Une manière de revoir les Krapos avec des images qui bougent.</p>
                        <section id="media-video-carousel" class="carousel">
                            <ul class="list carousel__list">
                            {%- for video in media.video %}
                                <li id="media-video-{{ loop.index }}" class="list__item carousel__slide">
                                    <div class="card card--type-2">
                                        <div class="card__media card__media--type-2">
                                            <a href="{{ video.url }}" target="_blank"><img width="{{ video.artwork.width }}"  height="{{ video.artwork.height }}" class="img card__img" src="assets/images/medias/video/{{ video.artwork.file }}"/></a>
                                        </div>
                                        <div class="card__header card__header--type-2">
                                            <p class="card__title">{{ video.tune }}</p>
                                        </div>
                                        <div class="card__body card__body--type-2">
                                            <p class="card__copy">{{ video.reference }}</p>
                                        </div>
                                        <div class="card__footer card__footer--type-2">
                                            <a href="{{ video.url }}" target="_blank" class="btn btn--primary btn--view btn--with-text">Regarder</a>
                                        </div>
                                    </div>
                                </li>{% endfor %}
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="social footer__social" aria-label="Social networks menu">
                <ul aria-label="Social networks menu" class="list social__list">
                    <li class="list__item social__item"><a href="https://www.soundcloud.com/leskrapos" target="_blank" class="btn btn--social btn--soundcloud" aria-label="&Eacutecouter les Krapos sur Soundcloud"></a></li>
                    <li class="list__item social__item"><a href="https://www.facebook.com/LesKrapos" target="_blank" class="btn btn--social btn--facebook" aria-label="Suivre les Krapos sur Facebook"></a></li>
                    <li class="list__item social__item"><a href="https://www.youtube.com/@les-krapos" target="_blank" class="btn btn--social btn--youtube" aria-label="Regarder les Krapos sur Youtube"></a></li>
                    <li class="list__item social__item"><a href="https://www.instagram.com/leskrapos" target="_blank" class="btn btn--social btn--instagram" aria-label="Suivre les Krapos sur Instagram"></a></li>
                </ul>
            </div>
            <p class="footer__legal"><a href="mentions-legales.html" target="_blank" class="link">Mentions Légales</a></p>
        </footer>
    </body>
</html>