<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Le répertoire des Krapos est éclectique. Avec des arrangements pour fanfare originaux, le groupe reprend des titres métal, électro, rock, pop, disco ou classiques."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Répertoire des Krapos - Fanfare amphibienne</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap">
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="krapos.css" />
        <script src="nav-menu.js" defer></script>
    </head>
    <body class="body">
        <!-- Header -->
        <header class="header">
            <img id="header-logo-img" class="header__logo" src="assets/images/common/LogoKrapo.svg" width="100px" heigh="100px" alt="Logo Krapo"/>
            <nav id="main-nav" class="nav menu__nav" aria-label="Site menu">
                <button id="btn-main-nav" class="btn btn--hamburger menu__nav-btn" type="button" aria-label="Ouvrir le menu" aria-expanded="false" aria-controls="main-nav"></button>
                <ul id="main-nav-list" class="list menu__list menu__list menu__list--hidden">
                    <li class="list-item menu__list-item"><a href="index.html" class="link menu__link">Accueil</a></li>
                    <li class="list-item menu__list-item"><a href="media.html" class="link menu__link">Médias</a></li>
                    <li class="list-item menu__list-item"><a href="setlist.html" class="link menu__link">Répertoire</a></li>
                    <li class="list-item menu__list-item"><a href="friends.html" class="link menu__link">Copains</a></li>
                    <li class="list-item menu__list-item"><a href="contact.html" class="link menu__link">Contact</a></li>
                </ul>
            </nav>
            <ul aria-label="Social networks menu" class="list header__list">
                <li class="list-item"><a href="https://www.soundcloud.com/leskrapos" target="_blank" class="btn btn--social btn--soundcloud" aria-label="&Eacutecouter les Krapos sur Soundcloud"></a></li>
                <li class="list-item"><a href="https://www.facebook.com/LesKrapos" target="_blank" class="btn btn--social btn--facebook" aria-label="Suivre les Krapos sur Facebook"></a></li>
                <li class="list-item"><a href="https://www.youtube.com/@les-krapos" target="_blank" class="btn btn--social btn--youtube" aria-label="Regarder les Krapos sur Youtube"></a></li>
                <li class="list-item"><a href="https://www.instagram.com/leskrapos" target="_blank" class="btn btn--social btn--instagram" aria-label="Suivre les Krapos sur Instagram"></a></li>
            </ul>
        </header>
        <!-- Setlist Page -->
        <div id="setlist-page" class="page page--setlist">
            <div class="wrapper--section-setlist-presentation">
                <section id="setlist-presentation" class="section page_section section--setlist">
                    <div class="wrapper--img-setlist">
                        <div class="blob blob--setlist">
                            <img width="500px"  height="500px" class="img img--rounded blob__img" src="assets/images/setlist/photo_setlist.jpg" alt="Illustration : Hawk, batteur concentré en noir et blanc. Crédit Photo : Stan Bonnet.”"/>
                        </div>
                    </div>
                    <div class="wrapper--setlist-text">
                        <h2 class="h2">Le répertoire</h2>
                        <p class="text-block">Le répertoire varié des Krapos est tourné majoritairement vers le métal et l'électro, qui y côtoient pêle-mêle le disco, la pop ou le classique. Au-delà des tubes connus de tous, les Krapos aiment s'approprier des titres hors des sentiers battus pour les faire découvrir à leur public.</p>
                    </div>
                    <div class="wrapper--setlist-figure">
                        <figure class="figure">
                            <img width="707px" height="707px" class="img img--dark-background" src="assets/images/setlist/nuage_de_mots.png" alt="Liste des artistes du répertoire : {{ setlist|join(', ', attribute='artist') }}"/>
                        </figure>
                    </div>
                </section>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <ul aria-label="Social networks menu" class="list footer__list">
                <li class="list-item"><a href="https://www.soundcloud.com/leskrapos" target="_blank" class="btn btn--social btn--soundcloud" aria-label="&Eacutecouter les Krapos sur Soundcloud"></a></li>
                <li class="list-item"><a href="https://www.facebook.com/LesKrapos" target="_blank" class="btn btn--social btn--facebook" aria-label="Suivre les Krapos sur Facebook"></a></li>
                <li class="list-item"><a href="https://www.youtube.com/@les-krapos" target="_blank" class="btn btn--social btn--youtube" aria-label="Regarder les Krapos sur Youtube"></a></li>
                <li class="list-item"><a href="https://www.instagram.com/leskrapos" target="_blank" class="btn btn--social btn--instagram" aria-label="Suivre les Krapos sur Instagram"></a></li>
            </ul>
        </footer>
    </body>
</html>